@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* --- Global layout & resets --- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Nunito", "Segoe UI", "Roboto", sans-serif;
  background-color: var(--bg-app);
  color: var(--text-primary);
}


#root {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
